@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-ExtraBold.eot');
    src: local('Berlingske Serif Extra Bold'), local('BerlingskeSerif-ExtraBold'),
        url('BerlingskeSerif-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-ExtraBold.woff2') format('woff2'),
        url('BerlingskeSerif-ExtraBold.woff') format('woff'),
        url('BerlingskeSerif-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-Md.eot');
    src: local('BerlingskeSerif-Md'),
        url('BerlingskeSerif-Md.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-Md.woff2') format('woff2'),
        url('BerlingskeSerif-Md.woff') format('woff'),
        url('BerlingskeSerif-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-LtItalic.eot');
    src: local('BerlingskeSerif-LtItalic'),
        url('BerlingskeSerif-LtItalic.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-LtItalic.woff2') format('woff2'),
        url('BerlingskeSerif-LtItalic.woff') format('woff'),
        url('BerlingskeSerif-LtItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-BoldItalic.eot');
    src: local('Berlingske Serif Bold Italic'), local('BerlingskeSerif-BoldItalic'),
        url('BerlingskeSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-BoldItalic.woff2') format('woff2'),
        url('BerlingskeSerif-BoldItalic.woff') format('woff'),
        url('BerlingskeSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-ExtBdIta.eot');
    src: local('Berlingske Serif ExtBd Ita'), local('BerlingskeSerif-ExtBdIta'),
        url('BerlingskeSerif-ExtBdIta.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-ExtBdIta.woff2') format('woff2'),
        url('BerlingskeSerif-ExtBdIta.woff') format('woff'),
        url('BerlingskeSerif-ExtBdIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-SemBdIta.eot');
    src: local('Berlingske Serif SemBd Ita'), local('BerlingskeSerif-SemBdIta'),
        url('BerlingskeSerif-SemBdIta.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-SemBdIta.woff2') format('woff2'),
        url('BerlingskeSerif-SemBdIta.woff') format('woff'),
        url('BerlingskeSerif-SemBdIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-SemiBold.eot');
    src: local('Berlingske Serif Semi Bold'), local('BerlingskeSerif-SemiBold'),
        url('BerlingskeSerif-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-SemiBold.woff2') format('woff2'),
        url('BerlingskeSerif-SemiBold.woff') format('woff'),
        url('BerlingskeSerif-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-Lt.eot');
    src: local('BerlingskeSerif-Lt'),
        url('BerlingskeSerif-Lt.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-Lt.woff2') format('woff2'),
        url('BerlingskeSerif-Lt.woff') format('woff'),
        url('BerlingskeSerif-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-Italic.eot');
    src: local('Berlingske Serif Italic'), local('BerlingskeSerif-Italic'),
        url('BerlingskeSerif-Italic.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-Italic.woff2') format('woff2'),
        url('BerlingskeSerif-Italic.woff') format('woff'),
        url('BerlingskeSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-Regular.eot');
    src: local('Berlingske Serif Regular'), local('BerlingskeSerif-Regular'),
        url('BerlingskeSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-Regular.woff2') format('woff2'),
        url('BerlingskeSerif-Regular.woff') format('woff'),
        url('BerlingskeSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-Bold.eot');
    src: local('Berlingske Serif Bold'), local('BerlingskeSerif-Bold'),
        url('BerlingskeSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-Bold.woff2') format('woff2'),
        url('BerlingskeSerif-Bold.woff') format('woff'),
        url('BerlingskeSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-MdItalic.eot');
    src: local('BerlingskeSerif-MdItalic'),
        url('BerlingskeSerif-MdItalic.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-MdItalic.woff2') format('woff2'),
        url('BerlingskeSerif-MdItalic.woff') format('woff'),
        url('BerlingskeSerif-MdItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-BlkItalic.eot');
    src: local('BerlingskeSerif-BlkItalic'),
        url('BerlingskeSerif-BlkItalic.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-BlkItalic.woff2') format('woff2'),
        url('BerlingskeSerif-BlkItalic.woff') format('woff'),
        url('BerlingskeSerif-BlkItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-Blk.eot');
    src: local('BerlingskeSerif-Blk'),
        url('BerlingskeSerif-Blk.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-Blk.woff2') format('woff2'),
        url('BerlingskeSerif-Blk.woff') format('woff'),
        url('BerlingskeSerif-Blk.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
	margin: 0;
}



.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*up information*/

.upper {
	height: 72px;
	display: flex;
	justify-content: center;
}

.logo{
	height: 29px;
	left: 344px;
	top: 19px;

	font-family: 'Berlingske Serif';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 36px;
	/* or 150% */
	display: flex;
	align-items: center;
	letter-spacing: 0.07em;

	/* основной текст */
	color: #3F3F46;

}

.more {
	padding-top: 23px;
	padding-left: 23px;
}
#modal {
	display: none;
}

#modal:checked ~ .menu{
	position: absolute;
	width: 320px;
	height: 1600px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	transition: .5s all;
	z-index: 100;
	box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
	background-color: #fff;
}

.find {
	width: 40px;
	height: 40px;
	background-color: #f3f3f3;
	margin-left: 18px;
	margin-top: 16px;
	border-radius: 50%;
}

.find_img {
	padding-top: 10px;
	padding-left: 10px;
}


.find_text{
	position: absolute;
	width: 160px;
	height: 36px;
	top: 12px;
	left: 450px;

	font-family: 'Berlingske Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */
	display: flex;
	align-items: center;

	/* третестепенные элементы */
	color: #A1A1AA;
}


.title {
	width: 80px;
	height: 60px;
	margin-left: 8px;
	font-size: 18px;
	margin-top: 16px;

}

.title_word {
	margin-top: 0;
	margin-left: 0;
	text-align: center;
	line-height: 20px;
	letter-spacing: 0.07em;
}


.lan {
	display: flex;
	width: 80px;
	height: 35px;
	background-color: #f3f3f3;
	margin-left: 16px;
	margin-top: 18px;
	border-radius: 8px;
}

.lanin {
	width: 42px;
	height: 100%;
	background-color: #00a8cb;
	border-radius: 8px;

	background: linear-gradient(0deg, #00B6DB, #00B6DB);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.27), 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.lanin_word {
	margin:0;
	font-size: 22px;
	padding-left: 7px;
	padding-top: 4px;
	color: #FFF;
}
.q {
	margin-top: 0;
	padding-top: 3px;
	padding-left: 5px;
	font-size: 22px;
}





.menu {
	display: none;
	position: absolute;
}

.menu_title {
	display: flex;
}

.info {
	padding-top: 34px;
	padding-left: 30px;
}

.menu_title_word {
	padding-left: 10px;
	font-size: 28px;
}



.topics {
	margin-left: 15px;
	width: 290px;
	height: 400px;
	display: flex;
	flex-direction: column;
}
.first {
	width: 290px;
	height: 60px;
	margin-bottom: 10px;
	border-bottom: solid 1px #00a8cb;
}

.first2 {
	width: 290px;
	height: 60px;
	margin-bottom: 10px;
	border-bottom: solid 1px #e4e4e4;
}

.first_topic1 {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 15px;
	font-size: 14px;
	color: #00a8cb;
}
.first_name1 {
	margin-top: 6px;
	padding-left: 15px;
	font-size: 17px;
	color: #00a8cb;
}

.first_topic {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 15px;
	font-size: 14px;
}
.first_name {
	margin-top: 6px;
	padding-left: 15px;
	font-size: 17px;
}

.dictionary {
	width: 320px;
	height: 30px;
	display: flex;
}
.dictionary_img {
	padding-left: 30px;
	padding-top: 7px;
}
.dictionary_word {
	margin-top: 0;
	padding-left: 10px;
	font-size: 28px;
}

.dictionary_text {
	width: 320px;
	height: 100%;
}
.dictionary_text p{
	margin-top: 10px;
	margin-bottom: 0;
	padding-left: 30px;
	font-size: 17px;
}







.cover {
	width: 100%;
	height: 420px;
	background-color: #00a8cb;
	align-items: center;
	justify-content: center;

}

.elements {
	width: 320px;
	height: 420px;
	margin: 0 auto;
}

.first_title {
	position: absolute;
	width: 231px;
	height: 11px;
	left: 16px;
	top: 90px;

	font-family: 'Berlingske Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 11px;
	
	color: #FFFFFF;
}
.second_title {
	position: absolute;
	width: 268px;
	height: 112px;
	left: 15px;
	top: 60px;

	font-family: 'Berlingske Serif';
	font-style: normal;
	font-weight: 800;
	font-size: 80px;
	line-height: 70px;
	letter-spacing: 0.09em;

	color: #FFFFFF;
}
.third_title {
	position: absolute;
	width: 191px;
	height: 41px;
	left: 16px;
	top: 260px;

	font-family: 'Berlingske Serif';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 0.02em;

	color: #FFFFFF;
	z-index: 100;
}

.fourth_title {
	position: absolute;
	width: 94px;
	height: 17px;
	left: 16px;
	top: 372px;

	font-family: 'Berlingske Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.01em;

	color: #FFFFFF;
}

.fifth_title {
	position: absolute;
	width: 177px;
	height: 64px;
	left: 16px;
	top: 398px;

	font-family: 'Berlingske Serif';
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 0.03em;

	color: #FFFFFF;
}

/*.sixth_title {
	position: absolute;
	width: 100px;
	margin-top: 0;
	height: 624px;
	left: 70%;
	padding: 0;
	top: 111px;

	font-family: 'Berlingske Serif';
	font-style: normal;
	font-weight: 600;
	font-size: 481px;
	line-height: 624px;
	text-align: center;
	letter-spacing: 0.03em;

	color: #FFFFFF;
}*/

.sixth_title {
	width: 100px;
	position: absolute;
	display: flex;
	margin-top: 10px;
	font-size: 481px;
	margin-left: 45px;
	color: #fff;
	font-family: 'Berlingske Serif';
	font-style: normal;
	font-weight: 600;
	font-size: 481px;
	line-height: 624px;
	text-align: center;
	letter-spacing: 0.03em;
}




.important_information {
	z-index: 10;
	width: 100%;
}
.important_number {
	padding-left: 20px;
	width: 150px;
	margin:0;
	padding-top: 24px;
	font-family: 'Berlingske Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	color: #00A8CB;
}
.important_title {
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Berlingske Serif';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
}
.important_text {
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Berlingske Serif';



	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	/* or 150% */
	text-indent: 24px;
}




.tasks_title {
	margin-top: 0;
	padding-left: 10px;
	font-size: 28px;
}

.tasks_text {
	width: 250px;
	margin-left: 30px;
	padding-top: 10px; 
	border-bottom: solid 1px #e4e4e7;
}

.test {
	position: absolute;
	width: 130px;
	margin-left: 55%;
	margin-top: 133px;
}






/*end of up information*/

@media (min-width: 0px){
	.upper {
		width: 100%;
		margin-left: -20px;

	}
	.logo{
		display: none;
	}
	.menu{
		margin-top: 72px;
	}
	.find {
		width: 40px;
		height: 40px;
		background-color: #f3f3f3;
		margin-left: 18px;
		margin-top: 16px;
		border-radius: 50%;
	}
	.find_img {
		padding-top: 10px;
		padding-left: 10px;
	}
	.find_text {
		display: none;
	}


	.title {
		width: 80px;
		height: 60px;
		margin-left: 8px;
		font-size: 18px;
		margin-top: 16px;

	}
	.cover_text{
		width:100%;
	}
	.important_number{
		color: #3F3F46;
	}


	.title_word {
		margin-top: 0;
		margin-left: 0;
		text-align: center;
		line-height: 20px;
		letter-spacing: 0.07em;
	}


	.lan {
		display: flex;
		width: 80px;
		height: 35px;
		background-color: #f3f3f3;
		margin-left: 16px;
		margin-top: 18px;
		border-radius: 8px;
	}

	.lanin {
		width: 42px;
		height: 100%;
		background-color: #00a8cb;
		border-radius: 8px;

		background: linear-gradient(0deg, #00B6DB, #00B6DB);
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.27), 0px 1px 1px rgba(0, 0, 0, 0.08);
	}

	.first_title, .second_title, .third_title, .fourth_title, .fifth_title{ padding-right: 2%; padding-left: 2% }
	.sixth_title {     margin-left: 80px;}
	.second_title {
		font-size: 50px;
		line-height: 40px;
   		letter-spacing: 0.05em;
   		top: 80px;
	}
	.third_title{
		top: 200px;
	}
}

@media (min-width: 768px){
	.upper {
		width: 100%;
	}
	.logo{
		display: none;
	}
	.find_text {
		display: flex;
		left: 20%;
		top: 2px;
	}
	.menu{
		margin-top: 72px;
		margin-left: -400px;
	}

	.find {
		width: 450px;
		border-radius: 20px;
	}
	.title {
		display: none;
	}
	.ava {
		width: 40px;
		height: 40px;
		background-color: #c4c4c4;
		margin-left: 18px;
		margin-top: 16px;
		border-radius: 50%;
	}
	.important_information{
		width: 100%;
	}
	.important_number{
		display: none;
	}
	.tasks{
		display: none;
	}
	.first_title, .second_title, .third_title, .fourth_title, .fifth_title{ padding-right: 5%; padding-left: 5% }
	.sixth_title {
		left: 60%;
		right: 0;
		margin-left: 0;
	}
	.test {
		position: absolute;
		width: 130px;
		margin-left: 77%;
		margin-top: 133px;
	}
	.second_title {
		font-size: 80px;
		line-height: 80px;
   		letter-spacing: 0.05em;
   		top: 55px;
	}
	.third_title{
		top: 280px;
	}
}

@media (min-width: 1400px){
	.upper {
		width: 100%;
	}
	.logo{
		display: block;
	}
	.menu{
		margin-top: 500px;
		margin-left: -755px;
	}
	.elements{
		width: 1200px;
	}
	.find {
		width: 730px;
		border-radius: 20px;
	}
	.find_text {
		display: flex;
		left: 27%;
	}
	.title {
		display: none;
	}
	.ava {
		width: 40px;
		height: 40px;
		background-color: #c4c4c4;
		margin-left: 18px;
		margin-top: 16px;
		border-radius: 50%;
	}
	.important_information{
		width: 800px;
		margin-left: 370px;
	}
	.important_number{
		display: block;
		color: #00A8CB;
	}
	.cover_text {
		width: 1000px;
		margin-left: 50px;
	}

	.tasks{
		display: flex;
		flex-direction: column;
	}
	.first_title, .second_title, .third_title, .fourth_title, .fifth_title{ padding-right: 10%; padding-left: 10% }
	.sixth_title {
		padding-right: 5%;
		left: 75%;
	}
	.more {
		display: none;
	}
	.btn{
		display: none;
	}
	.test {
		position: absolute;
		width: 130px;
		margin-left: 75%;
		margin-top: 133px;
	}
	.tasks_title {
		margin-top: 20px;
		padding-left: 200px;
		font-size: 28px;
	}
	.tasks_text {
		width: 600px;
		margin-left: 200px;
		padding-top: 10px; 
		border-bottom: solid 1px #e4e4e7;
	}

}

@media (min-width: 1920px){
	.upper {
		width: 1920px;
		margin-left: 0;
	}
	.logo{
		display: block;
		margin-right: 20px;
	}
	.menu{
		margin-top: 500px;
		margin-left: -800px;
	}
	.elements{
		width: 1200px;
	}
	.find {
		width: 770px;
		border-radius: 20px;
	}
	.find_text {
		display: flex;
		left: 33%;
	}
	.title {
		display: none;
	}
	.ava {
		width: 40px;
		height: 40px;
		background-color: #c4c4c4;
		margin-left: 18px;
		margin-top: 16px;
		border-radius: 50%;
	}
	.important_information{
		width: 800px;
		margin-left: 370px;
	}
	.important_number{
		display: block;
		color: #00A8CB;
	}
	.cover_text {
		width: 1000px;
		margin-left: 300px;
	}

	.tasks{
		display: flex;
		flex-direction: column;
	}
	.first_title, .second_title, .third_title, .fourth_title, .fifth_title{ padding-right: 10%; padding-left: 20% }
	.sixth_title {
		padding-right: 5%;
		left: 67%;
	}
	.more {
		display: none;
	}
	.btn{
		display: none;
	}
	.test {
		position: absolute;
		width: 130px;
		margin-left: 57%;
		margin-top: 133px;
	}
	.tasks_title {
		margin-top: 20px;
		padding-left: 200px;
		font-size: 28px;
	}
	.tasks_text {
		width: 600px;
		margin-left: 200px;
		padding-top: 10px; 
		border-bottom: solid 1px #e4e4e7;
	}
}























